@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
     font-family: 'Roboto', sans-serif;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

.container {
     border: 4px solid lightgray;
     padding: 24px 24px 0px 24px;
     display: flex;
     justify-content: space-between;
}

.box {
     border: 4px solid lightgray;
     margin-bottom: 24px;
}

.box-small {
     height: 50px;
}

.box-wrapper {
     width: 45%;
     display: flex;
     flex-direction: column;
}

.box-large {
     width: 45%;
}