@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
     font-family: 'Roboto', sans-serif;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

.container {
     border: 4px solid lightgray;
     display: flex;
     justify-content: space-between;
     padding: 24px;
}

.box {
     border: 4px solid lightgray;
     width: 100px;
     height: 100px;
}

.box-small {
     width: 50px;
     height: 50px;
     margin-left: 24px;;
}

.box-wrapper {
     display: flex;
     align-items: center;
}